.Input {
    width: 150px;
    padding: 5px;
    margin: 5px auto;
}

.Label {
    font-weight: 400;
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 150px;
    box-sizing: border-box;
    font-size: 13px;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}