.Auth {
    width: 600px;
    margin: auto;
}
.Auth button {
    padding: 10px 15px;
    font-weight: 700;
    font-size: 16px;
    background-color: #13b955;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px;
}
.Auth button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.Auth button:focus {
    outline: 0;
}

@media (max-width: 550px) {
    .Auth {
        width: 100%;
    }
}
