@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.BottomBar {
    height: 150px;
    width: 100%;
    background-color: #13b955;
    color: white;
    margin-top: 20px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
}
.BottomBar p {
    font-size: 14px;
    margin: 0;
}
.BottomBar .first {
    padding-top: 30px;
    font-size: 14px;
    
}